

#wrapper{ 
	border:1px #009933 dotted;
	width:50%;
	
	float:left;

}

.slider-wrapper { 
	width:95%;
	
	margin: 0px 5px;
	
}

.video { 
	width:95%;
	height:auto;
	
	margin: 0px 5px;
	
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}